.osm-tags {
    //width: 5fr;
    font-size: 11px;
    border-spacing: 0;

    td {
        vertical-align: top;
    }
}

.osm-tags__key {
    max-width: 156px;
    min-width: 156px;
}

#tags {
    background: #ffeaee;
    border-radius: 12px;
    padding: 12px;
    grid-column: 8 / span 5;
    grid-row: 3;
}

#tags h3 {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}
