/* This file is for your main application css. */

@import '~normalize.css/normalize';

body {
    font-family: 'Istok Web', sans-serif;
    line-height: 17px;
    font-size: 14px;
}

main {
    width: 1010px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(12, 75px);
    column-gap: 10px;
}

#messages {
    grid-column: 1 / span 12;
    grid-row: 2;
    background: #f0f0f0;
    margin-bottom: 12px;
    padding: 12px;
}

.validation-messages__message {
    list-style-type: none;
}

.validation-messages__level {
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #b9b9b9;
    border-radius: 10px;
    display: inline-block;
    padding: 0 5px;
}

.validation-messages__level--warning {
    background: #fdd596;
}

.validation-messages__level--error {
    background: #f58e8e;
}

.validation-messages__id {
    font-size: 12px;
    font-weight: bold;
    color: #989898;
}

@import './alerts.scss';
@import './osm_tags.scss';
