/* This file is for your main application css. */

@import '~normalize.css/normalize';

body {
    font-family: 'Istok Web', sans-serif;
    line-height: 17px;
    font-size: 14px;
}

main {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

@import './alerts.scss';
@import './osm_tags.scss';
