<table class="osm-tags">
  <tbody>
    <%= for {k, v} <- @tags do %>
    <tr>
      <td class="osm-tags__key"><%= k %></td>
      <td class="osm-tags__value"><%= v %></td>
    </tr>
    <% end %>
  </tbody>
</table>
